# Dependencies
node_modules

# Gatsby build artifacts
.cache
public

# Environment variables (do not include secrets in the image)
.env
.env.*

# CI/CD configuration
.circleci


.terraform.*
.terraform/